.ext-scaffold .add {
  background-image:url(/ext/examples/shared/icons/fam/add.gif) !important;
}

.ext-scaffold .remove {
  background-image:url(/ext/examples/shared/icons/fam/delete.gif) !important;
}

.ext-scaffold .edit {
  background-image:url(/ext/examples/shared/icons/fam/cog.png);
}
* html .ext-scaffold .edit { /* IE6 needs to be tweaked to display PNG transparency */
  background-image: none !important;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/ext/examples/shared/icons/fam/cog.png", sizingMethod="crop");
}

.ext-scaffold .details {
  background-image:url(/ext/examples/grid/details.gif) !important;
}

.ext-scaffold .ux-icon-search {
  background-image:url(/images/ext_scaffold/find.png) !important;
}
* html .ext-scaffold .ux-icon-search { /* IE6 needs to be tweaked to display PNG transparency */
  background-image: none !important;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/ext_scaffold/find.png", sizingMethod="crop");
}

.ext-scaffold-form-panel .x-panel-mc {
  padding-top: 0px !important;
}
.ext-scaffold-form-panel .x-toolbar {
  border-bottom: 0 none !important;
  background: transparent !important;
  padding-right: 6px !important;
}
.ext-scaffold-form-panel .x-panel-btns-ct {
  padding-bottom: 0px !important;
}

.minutecss {
  padding:4px;
  height:100%;
  border-top: 1px solid #a3bad9;
  background: #dfecfb url(/ext/resources/images/default/shared/glass-bg.gif) repeat-x left top; 
}
.y-hour-middle,.y-hour-left,.y-hour-right {
  font:bold 11px "sans serif", tahoma, verdana, helvetica;
  overflow:hidden;
}

.y-hour-right, .y-hour-left {
  width:18px;
}
.y-hour-right{
  text-align:right;
}
.y-hour-middle {
  padding-top:2px;
  padding-bottom:2px;
  color:#0000ff;
}
.y-hour-right a, .y-hour-left a{
  display:block;
  width:16px;
  height:16px;
  background-position: center;
  background-repeat: no-repeat;
  cursor:pointer;
}

.y-hour-right a {
  background-image: url(../images/ext_scaffold/arrowRight.gif);
  margin-right:2px;
}
.y-hour-left a{
  background-image: url(../images/ext_scaffold/arrowLeft.gif);
  margin-left:2px;
}    
.y-minute-middle,.y-minute-left,.y-minute-right {
  font:bold 11px "sans serif", tahoma, verdana, helvetica;
  overflow:hidden;
}

.y-minute-right, .y-minute-left {
  width:18px;
}
.y-minute-right{
  text-align:right;
}
.y-minute-middle {
  padding-top:2px;
  padding-bottom:2px;
  color:#0000ff;
}
.y-minute-right a, .y-minute-left a{
  display:block;
  width:16px;
  height:16px;
  background-position: center;
  background-repeat: no-repeat;
  cursor:pointer;
}

.y-minute-right a {
  background-image: url(../images/ext_scaffold/arrowRight.gif);
  margin-right:2px;
}
.y-minute-left a{
  background-image: url(../images/ext_scaffold/arrowLeft.gif);
  margin-left:2px;
}
