<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller_class_name %></title>
  <%%= stylesheet_link_tag    "ext_scaffold", "../ext/resources/css/ext-all.css" %>
  <%%= javascript_include_tag :defaults,
                             "../ext/adapter/prototype/ext-prototype-adapter.js",
                             Rails.env.development? ? "../ext/ext-all-debug.js" : "../ext/ext-all.js",
                             "ext_scaffold.js",
                             "../ext/build/locale/ext-lang-en.js" %>
  <%%= yield :head %>
</head>
<body>
<%%= yield %>
</body>
</html>